openapi: 3.0.2
info:
  description: WorldCat Metadata API
  version: 1.0.0
  title: WorldCat Metadata API
servers:
  - url: 'https://worldcat.org'
security:
  - worldcat_metadata_auth:
    - WorldCatMetadataAPI
paths:
  /bib/data:
    post:
      tags:
        - Bibliographic Records
      summary: 'Create Bibliographic Record'
      description: 'Create Bibliographic Record'
      operationId: create-bib
      externalDocs: 
        description: Learn about MARC Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/Bibliographic_records      
      parameters:
        - name: inst
          in: query
          description: Registry ID of the institution who is creating record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution who is creating record
          required: false
          schema:
            type: string
          example: OCPSB
      requestBody:
        description: Create bibliographic record to the system
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              create-bib:
                $ref: '#/components/examples/create_bib'                                                        
      responses:
        '200':
          description: Successful create of bibliographic record
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                success: 
                  $ref: '#/components/examples/read_bib'
        '400':
          description: Invalid request. 
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
                wrong-format:
                  $ref: '#/components/examples/wrong-format'                  
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
    put:
      tags:
        - Bibliographic Records
      summary: 'Update Bibliographic record'
      description: 'Update Bibliographic record'
      externalDocs: 
        description: Learn about MARC Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/Bibliographic_records      
      operationId: update-bib
      parameters:
        - name: inst
          in: query
          description: Registry ID of the institution who is updating record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution who is updating record
          required: false
          schema:
            type: string
          example: OCPSB
      requestBody:
        description: Update bibliographic record to the system
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              update-bib:
                $ref: '#/components/examples/update_bib'                            
      responses:
        '200':
          description: Successful update bibliographic record
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              examples:
                success: 
                  $ref: '#/components/examples/read_bib'
        '400':
          description: Invalid request. 
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
                wrong-format:
                  $ref: '#/components/examples/wrong-format' 
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'                
  /bib/data/{oclcNumber}:
    get:
      tags:
        - Bibliographic Records
      summary: 'Read Bibliographic data'
      description: 'Read Bibliographic data'
      externalDocs: 
        description: Learn about MARC Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/Bibliographic_records      
      operationId: read-bib
      parameters:
        - name: oclcNumber
          in: path
          description: OCLC number to be retrieved
          schema:
            type: integer
            format: int32
          required: true      
      responses:
        '200':
          description: Successful read of bibliographic data
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              examples:
                success: 
                  $ref: '#/components/examples/read_bib'
        '400':
          description: Invalid request. 
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                 
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'  
  /bib/checkcontrolnumbers:
    get:
      tags:
        - Bibliographic Records
      summary: 'Get Current OCLC Number'
      description: 'Get Current OCLC Number'
      operationId: current-oclcNumber
      parameters:
        - name: oclcNumbers
          in: query
          description: comma seperate OCLC numbers to get current OCLC Number for
          schema:
            type: string      
      responses:
        '200':
          description: Successful request for current OCLC number
          content:
            'application/atom+json':           
              examples:
                success: 
                  $ref: '#/components/examples/getCurrentOCLCNumber'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':            
              examples:
                missing-query-parameter-oclcnumbers:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumbers'
        '401':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized'                  
        '403':
          description: Forbidden
          content:
            'application/atom+json':            
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':            
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
  /bib/holdinglibraries:
    get:
      tags:
        - Bibliographic Records
      summary: 'Get Holding Codes'
      description: 'Get Holding Codes'
      operationId: get-holding-codes    
      responses:
        '200':
          description: Successful read of holding libraries
          content:
            'application/atom+json':           
              examples:
                success: 
                  $ref: '#/components/examples/read_holdinglibrarycodes'
        '401':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized'                  
        '403':
          description: Forbidden
          content:
            'application/atom+json':            
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'            
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':           
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'                                                                                             
  /bib/validateFull:
    post:
      tags:
        - Bibliographic Records - Validate
      summary: 'Full Validation of Bib Record'
      description: 'Full Validation of Bib Record'
      operationId: validate-full-bib
      requestBody:
        description: Validate full bibliographic record to be updated in the system
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              update-bib:
                $ref: '#/components/examples/update_bib'           
      responses:
        '200':
          description: Successful validate
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              examples:
                success: 
                  $ref: '#/components/examples/validateFull'
        '400':
          description: The request was unacceptable, often due to malformed request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':         
              examples:
                wrong-format:
                  $ref: '#/components/examples/wrong-format'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'             
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'
        '409':
          description: Conflict
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                validation-error:
                  $ref: '#/components/examples/validateFull-error'                               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
  /bib/validateAdd:
    post:
      tags:
        - Bibliographic Records - Validate
      summary: 'Add Validation of Bib Record'
      description: 'Add Validation of Bib Record'
      operationId: validate-add-bib
      requestBody:
        description: Validate bibliographic record to be added to the system
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              validate-add-bib:
                $ref: '#/components/examples/create_bib'           
      responses:
        '200':
          description: Successful validate
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              examples:
                success: 
                  $ref: '#/components/examples/validateAdd'
        '400':
          description: The request was unacceptable, often due to malformed request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':         
              examples:
                wrong-format:
                  $ref: '#/components/examples/wrong-format'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'             
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              example:
                $ref: '#/components/examples/method-not-allowed-error'
        '409':
          description: Conflict
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                validation-error:
                  $ref: '#/components/examples/validateAdd-error'                               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
  /bib/validateReplace:
    post:
      tags:
        - Bibliographic Records - Validate
      summary: 'Replace Validation of Bib Record'
      description: 'Replace Validation of Bib Record'
      operationId: validate-replace-bib 
      requestBody:
        description: Validate bibliographic record to be updated in to the system
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              update-bib:
                $ref: '#/components/examples/update_bib'          
      responses:
        '200':
          description: Successful validate
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              examples:
                success: 
                  $ref: '#/components/examples/validateReplace'
        '400':
          description: The request was unacceptable, often due to malformed request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':         
              examples:
                wrong-format:
                  $ref: '#/components/examples/wrong-format'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'             
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':         
              example:
                $ref: '#/components/examples/method-not-allowed-error'
        '409':
          description: Conflict
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                validation-error:
                  $ref: '#/components/examples/validateReplace-error'                                
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'                                   
  /ih/data:
    post:
      tags:
        - Institution Holdings
      summary: 'Create/Set Institution Holding'
      description: 'Create/Set Institution Holding'
      operationId: ih-create    
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC number for the record holdings should be set on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN                 
        - name: classificationScheme
          in: query
          description: Whether or not to return group availability information.
          required: false          
          schema:
            type: string
      responses:
        '200':
          description: Successful create institution holding
          content:
            'application/atom+json':           
              examples:
                success: 
                  $ref: '#/components/examples/setHolding'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':          
              examples:
                missing-query-parameter:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                  
        '403':
          description: Unauthorized
          content:
            'application/atom+json':          
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':           
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
    delete:
      tags:
        - Institution Holdings
      summary: 'Delete/Unset Institution Holding'
      description: 'Delete/Unset Institution Holding'
      operationId: delete-ih    
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC number for the record holdings should be set on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807  
        - name: cascade
          in: query
          description: Whether or not to execute the operation if a local holdings record, or local biblliographic record exists. 0 - don't remove holdings if local holding record or local bibliographic record exists 1 - yes remove holdings and delete local holdings record or local bibliographic record exists
          required: true
          schema:
            type: boolean
          example: 1
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN                 
        - name: classificationScheme
          in: query
          description: Whether or not to return group availability information.
          required: false          
          schema:
            type: string
      responses:
        '200':
          description: Successful delete institution holding
          content:
            'application/atom+json':
              schema:
                type: object
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':            
              examples:
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'
                missing-query-parameter-cascade:
                  $ref: '#/components/examples/missing-query-parameter-cascade'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                                    
        '403':
          description: Unauthorized
          content:
            'application/atom+json':      
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'                      
  /ih/checkholdings:
    post:
      tags:
        - Institution Holdings
      summary: 'Retrieve Status Institution Holding'
      description: 'Retrieve Status Institution Holding'
      operationId: ih-status    
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC number for the record holdings should be checked on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings checked on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being checked on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
      responses:
        '200':
          description: Successful check status of institution holding
          content:
            'application/atom+json':            
              examples:
                success: 
                  $ref: '#/components/examples/checkHoldings'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':           
              examples:
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                  
        '403':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':            
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
          content:
            'application/atom+json':
              schema:
                type: object
  /ih/datalist:
    post:
      tags:
        - Institution Holdings
      summary: 'Batch set institution holdings for multiple OCLC Numbers'
      description: 'Batch set institution holdings for multiple OCLC Numbers'
      operationId: batch-create-ih-oclcNumbers    
      parameters:
        - name: oclcNumbers
          in: query
          description: OCLC number for the record holdings should be checked on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings checked on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being checked on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
      responses:
        '200':
          description: Successful batch set institution holdings on OCLC Number
          content:
            'application/atom+json':           
              examples:
                success: 
                  $ref: '#/components/examples/setHoldingsByOCLCNumber'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':            
              examples:
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumbers'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                  
        '403':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':           
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
    delete:
      tags:
        - Institution Holdings
      summary: 'Batch unset institution holdings for multiple OCLC Numbers'
      description: 'Batch unset institution holdings for multiple OCLC Numbers'
      operationId: batch-delete-ih-oclcNumbers    
      parameters:
        - name: oclcNumbers
          in: query
          description: OCLC number for the record holdings should be checked on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: cascade
          in: query
          description: Whether or not to execute the operation if a local holdings record, or local biblliographic record exists. 0 - don't remove holdings if local holding record or local bibliographic record exists 1 - yes remove holdings and delete local holdings record or local bibliographic record exists
          required: true
          schema:
            type: boolean
          example: 1          
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings checked on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being checked on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
      responses:
        '200':
          description: Successfully batch remove institution holdings for OCLC Numbers
          content:
            'application/atom+json':
              schema:
                type: object            
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':        
              examples:
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumbers'
                missing-query-parameter-cascade:
                  $ref: '#/components/examples/missing-query-parameter-cascade'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'                                    
        '403':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
  /ih/institutionlist:
    post:
      tags:
        - Institution Holdings
      summary: 'Batch set institution holdings for multiple institutions'
      description: 'Batch set institution holdings for multiple institutions'
      operationId: batch-create-ih-institution    
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC number for the record holdings should be checked on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: instSymbols
          in: query
          description: OCLC Symbol of the institution whose holdings are being checked on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
      responses:
        '200':
          description: Successfully set holdings for an institution on multiple OCLC number
          content:
            'application/atom+json':           
              examples:
                success: 
                  $ref: '#/components/examples/setHoldingsByInstitution'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':           
              examples:
                missing-query-parameter-instSymbols:
                  $ref: '#/components/examples/missing-query-parameter-instSymbols'
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'                  
        '403':
          description: Unauthorized
          content:
            'application/atom+json':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':          
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
    delete:
      tags:
        - Institution Holdings
      summary: 'Batch unset institution holdings for multiple institutions'
      description: 'Batch unset institution holdings for multiple institutions'
      operationId: batch-delete-ih-institution  
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC number for the record holdings should be checked on
          schema:
            type: integer
            format: int32
          required: true
          example: 128807
        - name: instSymbols
          in: query
          description: OCLC Symbol of the institution whose holdings are being checked on the record
          required: false
          schema:
            type: string
          example: OCPSB
        - name: cascade
          in: query
          description: Whether or not to execute the operation if a local holdings record, or local biblliographic record exists. 0 - don't remove holdings if local holding record or local bibliographic record exists 1 - yes remove holdings and delete local holdings record or local bibliographic record exists
          required: true
          schema:
            type: boolean
          example: 1                            
      responses:
        '200':
          description: Successfully unset holdings for an institution on multiple OCLC number
          content:
            'application/atom+json':
              schema:
                type: object
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+json':            
              examples:
                missing-query-parameter-instSymbols:
                  $ref: '#/components/examples/missing-query-parameter-instSymbols'
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'
                missing-query-parameter-cascade:
                  $ref: '#/components/examples/missing-query-parameter-cascade'                  
        '401':
          description: Unauthorized
          content:
            'application/atom+json':            
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized'
        '403':
          description: Forbidden
          content:
            'application/atom+json':            
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden'              
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+json':            
              example:
                $ref: '#/components/examples/method-not-allowed-error'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'                                                 
  /lbd/data:
    description: >
      <h3>Key Fields in an LBD</h3>
      <table cellspacing="1" cellpadding="1" border="1">
      <tbody>
      <tr>
      <th>Field</th>
      <th>Description</th>
      </tr>
      <tr>
      <td>001 $a</td>
      <td>The control number of Accession number for the LBD</td>
      </tr>
      <tr>
      <td>004 $a</td>
      <td>The OCLC Number the LBD is associated with</td>
      </tr>
      <tr>
      <td>935 $a</td>
      <td>Local System Number - This field is required and must be unique for the associated OCLC number and the institution creating the LBD record. A timestamp may be used as a value if the LBD has no other associated local system number..</td>
      </tr>
      <tr>
      <td>940 $a</td>
      <td>Institution Number - The MARC code for the organization that created the local bibliographic data. This code is the same type of code as is found in the 040 $a in the master bibliographic record.</td>
      </tr>
      </tbody>
      </table>    
    post:
      tags:
        - Local Bibliographic Data
      summary: 'Create Local Bibliographic Data'
      description: 'Create Local Bibliographic Data'
      externalDocs: 
        description: Learn about Local Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/LBD  
      operationId: lbd-create    
      parameters:
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN
      requestBody:
        description: Add local bibliographic record to the system
        required: true
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              create_lbd:
                $ref: '#/components/examples/create_lbd'
      responses:
        '200':
          description: Successfully create local bibliographic record
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              examples:
                success: 
                  $ref: '#/components/examples/read_lbd'
        '400':
          description: Invalid query. The request was unacceptable, often due to invalid request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
                wrong-format:
                  $ref: '#/components/examples/wrong-format'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden-xml'                     
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':          
              example:
                $ref: '#/components/examples/method-not-allowed-error-xml'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
  /lbd/data/{accessionNumber}:
    get:
      tags:
        - Local Bibliographic Data
      summary: 'Read Local Bibliographic Data'
      description: 'Read Local Bibliographic Data'
      externalDocs: 
        description: Learn about Local Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/LBD      
      operationId: lbd-read    
      parameters:
        - name: accessionNumber
          in: path
          description: Accession number of the local bibliographic record
          required: true
          schema:
            type: integer
          example: 906268152       
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN
      responses:
        '200':
          description: Successfully read local bibliographic data
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':         
              examples:
                success: 
                  $ref: '#/components/examples/read_lbd'
        '400':
          description: Invalid query. The request was unacceptable.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden-xml'             
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':
              example:
                $ref: '#/components/examples/method-not-allowed-error-xml'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again' 
    put:
      tags:
        - Local Bibliographic Data
      summary: 'Update Local Bibliographic Data'
      description: 'Update Local Bibliographic Data'
      externalDocs: 
        description: Learn about Local Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/LBD      
      operationId: lbd-update    
      parameters:
        - name: accessionNumber
          in: path
          description: Accession number of the local bibliographic record
          required: true
          schema:
            type: integer
          example: 906268152      
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN
      requestBody:
        description: Update local bibliographic record to the system
        required: true
        content:
          'application/vnd.oclc.marc21+xml': 
            examples:
              update_lbd:
                $ref: '#/components/examples/update_lbd'      
      responses:
        '200':
          description: Successfully update local bibliographic data
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                success: 
                  $ref: '#/components/examples/read_lbd'
        '400':
          description: Invalid query. The request was unacceptable, often due to invalid request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
                wrong-format:
                  $ref: '#/components/examples/wrong-format'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden-xml'             
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':     
              example:
                $ref: '#/components/examples/method-not-allowed-error-xml'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'
    delete:
      tags:
        - Local Bibliographic Data
      summary: 'Delete Local Bibliographic Data'
      description: 'Delete Local Bibliographic Data'
      externalDocs: 
        description: Learn about Local Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/LBD      
      operationId: lbd-delete    
      parameters:
        - name: accessionNumber
          in: path
          description: Accession number of the local bibliographic record
          required: true
          schema:
            type: integer
          example: 906268152      
        - name: inst
          in: query
          description: Registry ID of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: 128807
        - name: instSymbol
          in: query
          description: OCLC Symbol of the institution whose holdings are being set on the record
          required: false
          schema:
            type: string
          example: OCPSB                  
        - name: holdingLibraryCode
          in: query
          description: Four letter holding code to set the holding on.
          required: false
          schema:
            type: string
          example: MAIN
      responses:
        '200':
          description: Successfully delete local bibliographic data
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Invalid query. The request was unacceptable, often due to invalid request body.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden-xml'            
        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':     
              example:
                $ref: '#/components/examples/method-not-allowed-error-xml'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again' 
  /lbd/search:
    get:
      tags:
        - Local Bibliographic Data
      summary: 'Search Local Bibliographic Data'
      description: 'Search Local Bibliographic Data'
      externalDocs: 
        description: Learn about Local Bibliographic records
        url: https://help.oclc.org/Metadata_Services/WorldShare_Record_Manager/LBD      
      operationId: lbd-search    
      parameters:
        - name: oclcNumber
          in: query
          description: OCLC Number associated with LBD you want to find
          required: false
          schema:
            type: string
          example: 1
      responses:
        '200':
          description: Successfully search for local bibliographic data          
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                success: 
                  $ref: '#/components/examples/search_lbd'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                missing-query-parameter-oclcnumber:
                  $ref: '#/components/examples/missing-query-parameter-oclcnumber'
                institution-authorization-failure:
                  $ref: '#/components/examples/institution-authorization-failure'
        '401':
          description: Unauthorized
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/unauthorized-xml'                  
        '403':
          description: Forbidden
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':           
              examples:
                unauthorized-error:
                  $ref: '#/components/examples/forbidden-xml'        
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            'application/atom+xml;content="application/vnd.oclc.marc21+xml"':            
              example:
                $ref: '#/components/examples/method-not-allowed-error-xml'               
        '500':
          description: 'Something went wrong (hopfully rare) - please try again'          
components:
  securitySchemes:
    worldcat_metadata_auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI: perform all the operation in the WorldCat Metadata API
        authorizationCode:
          authorizationUrl: https://oauth.oclc.org/auth
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI: perform all the operation in the WorldCat Metadata API
  schemas:
    marcxml:
      type: object
      externalDocs:
        description: Learn about the Marc Bibliographic Standard
        url: https://www.loc.gov/standards/marcxml/
  examples:
    create_bib:
      summary: Create a bibliographic record
      value: >
        <?xml version="1.0" encoding="UTF-8"?>
        <record xmlns="http://www.loc.gov/MARC21/slim">
            <leader>00000nam a2200000 a 4500</leader>
            <controlfield tag="008">120827s2012    nyua          000 0 eng d</controlfield>
            <datafield tag="010" ind1=" " ind2=" ">
                <subfield code="a">   63011276 </subfield>
            </datafield>
            <datafield tag="040" ind1=" " ind2=" ">
                <subfield code="a">OCWMS</subfield>
                <subfield code="b">eng</subfield>
                <subfield code="c">OCPSB</subfield>
            </datafield>
            <datafield tag="100" ind1="0" ind2=" ">
                <subfield code="a">OCLC Developer Network</subfield>
            </datafield>
            <datafield tag="245" ind1="1" ind2="0">
                <subfield code="a">Test Record</subfield>
            </datafield>
            <datafield tag="500" ind1=" " ind2=" ">
                <subfield code="a">FOR OCLC DEVELOPER NETWORK DOCUMENTATION</subfield>
            </datafield>
        </record>        
    read_bib:
      summary: Read a bibliographic record
      value: >
        <?xml version="1.0" encoding="UTF-8"?>
        <entry xmlns="http://www.w3.org/2005/Atom">
            <content type="application/xml">
                <response xmlns="http://worldcat.org/rb" mimeType="application/vnd.oclc.marc21+xml">
                    <record xmlns="http://www.loc.gov/MARC21/slim">
                        <leader>00000cam a2200000 a 4500</leader>
                        <controlfield tag="001">ocn311684437</controlfield>
                        <controlfield tag="003">OCoLC</controlfield>
                        <controlfield tag="005">20200327224019.6</controlfield>
                        <controlfield tag="008">080916s2009    paua          000 1 eng  </controlfield>
                        <datafield tag="010" ind1=" " ind2=" ">
                            <subfield code="a">  2008937609</subfield>
                        </datafield>
                        <datafield tag="040" ind1=" " ind2=" ">
                            <subfield code="a">DLC</subfield>
                            <subfield code="b">eng</subfield>
                            <subfield code="c">DLC</subfield>
                            <subfield code="d">BTCTA</subfield>
                            <subfield code="d">YDXCP</subfield>
                            <subfield code="d">UPZ</subfield>
                            <subfield code="d">WIQ</subfield>
                            <subfield code="d">MR0</subfield>
                            <subfield code="d">XL4</subfield>
                            <subfield code="d">PAU</subfield>
                            <subfield code="d">LMR</subfield>
                            <subfield code="d">VP@</subfield>
                            <subfield code="d">OBE</subfield>
                            <subfield code="d">UKM</subfield>
                            <subfield code="d">ON8</subfield>
                            <subfield code="d">ZAD</subfield>
                            <subfield code="d">EYP</subfield>
                            <subfield code="d">HBP</subfield>
                            <subfield code="d">VRC</subfield>
                            <subfield code="d">IWL</subfield>
                            <subfield code="d">TXBXL</subfield>
                            <subfield code="d">MEUBL</subfield>
                            <subfield code="d">BDX</subfield>
                            <subfield code="d">IAD</subfield>
                            <subfield code="d">P4I</subfield>
                            <subfield code="d">KPY</subfield>
                            <subfield code="d">WAU</subfield>
                            <subfield code="d">OVY</subfield>
                            <subfield code="d">CNNWL</subfield>
                            <subfield code="d">NZPPC</subfield>
                            <subfield code="d">WVX</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">OCLCQ</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">IVV</subfield>
                            <subfield code="d">OCLCQ</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">OCLCF</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">TXMLI</subfield>
                            <subfield code="d">P@N</subfield>
                            <subfield code="d">DCB</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">OCL</subfield>
                            <subfield code="d">OCLCQ</subfield>
                            <subfield code="d">TCJ</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">WAU</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">CNO</subfield>
                            <subfield code="d">OCL</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">OCLCA</subfield>
                            <subfield code="d">WAU</subfield>
                            <subfield code="d">GILDS</subfield>
                            <subfield code="d">PRN</subfield>
                            <subfield code="d">OCL</subfield>
                            <subfield code="d">DKC</subfield>
                            <subfield code="d">TL4</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">GZN</subfield>
                            <subfield code="d">TNX</subfield>
                            <subfield code="d">OCLCO</subfield>
                            <subfield code="d">TU7</subfield>
                            <subfield code="d">JX9</subfield>
                            <subfield code="d">WAU</subfield>
                            <subfield code="d">EQF</subfield>
                            <subfield code="d">OCLCA</subfield>
                            <subfield code="d">OCL</subfield>
                            <subfield code="d">WAU</subfield>
                            <subfield code="d">BUF</subfield>
                            <subfield code="d">MIR</subfield>
                        </datafield>
                        <datafield tag="015" ind1=" " ind2=" ">
                            <subfield code="a">GBA977206</subfield>
                            <subfield code="2">bnb</subfield>
                        </datafield>
                        <datafield tag="016" ind1="7" ind2=" ">
                            <subfield code="a">015342153</subfield>
                            <subfield code="2">Uk</subfield>
                        </datafield>
                        <datafield tag="019" ind1=" " ind2=" ">
                            <subfield code="a">261176486</subfield>
                            <subfield code="a">330361568</subfield>
                            <subfield code="a">377707240</subfield>
                            <subfield code="a">426228842</subfield>
                            <subfield code="a">701739996</subfield>
                            <subfield code="a">716923895</subfield>
                            <subfield code="a">731216527</subfield>
                            <subfield code="a">887752101</subfield>
                            <subfield code="a">945738851</subfield>
                            <subfield code="a">1045429884</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">9781594743344</subfield>
                            <subfield code="q">(pbk. ;</subfield>
                            <subfield code="q">alk. paper)</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">1594743347</subfield>
                            <subfield code="q">(pbk. ;</subfield>
                            <subfield code="q">alk. paper)</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">9781594743351</subfield>
                            <subfield code="q">(pbk. ;</subfield>
                            <subfield code="q">alk. paper)</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">1594743355</subfield>
                            <subfield code="q">(pbk. ;</subfield>
                            <subfield code="q">alk. paper)</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">9781594744518</subfield>
                            <subfield code="q">(hbk.)</subfield>
                        </datafield>
                        <datafield tag="020" ind1=" " ind2=" ">
                            <subfield code="a">1594744513</subfield>
                            <subfield code="q">(hbk.)</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">AU@</subfield>
                            <subfield code="b">000043839587</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">AU@</subfield>
                            <subfield code="b">000044205433</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">AU@</subfield>
                            <subfield code="b">000044218081</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">AU@</subfield>
                            <subfield code="b">000054552395</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">CBK</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">COVCL</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">DEBBG</subfield>
                            <subfield code="b">BV035970551</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">LBRUT</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NLGGC</subfield>
                            <subfield code="b">321202333</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NLNZL</subfield>
                            <subfield code="b">9913384163502836</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NOK</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NOK</subfield>
                            <subfield code="b">1594744513</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NZ1</subfield>
                            <subfield code="b">12866253</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NZ1</subfield>
                            <subfield code="b">1338416</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">NZ1</subfield>
                            <subfield code="b">14508856</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">OXFCL</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">REABC</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBCI</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBCI</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBED</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBFB</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBNS</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBNS</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBNT</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBOR</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKBUR</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKCHS</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKDEL</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKDLI</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKDON</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKDOR</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKGTH</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKJSY</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKKCC</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKKUT</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKLBB</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKLCL</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKLLS</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKNLL</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKNWH</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKNWP</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKPMH</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSCO</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSCO</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSCO</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSFD</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSGC</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSGC</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSGC</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSOM</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSOM</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKSUS</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UKTLS</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UNITY</subfield>
                            <subfield code="b">120281791</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">UNITY</subfield>
                            <subfield code="b">12033044X</subfield>
                        </datafield>
                        <datafield tag="029" ind1="1" ind2=" ">
                            <subfield code="a">WARCC</subfield>
                            <subfield code="b">1594743347</subfield>
                        </datafield>
                        <datafield tag="035" ind1=" " ind2=" ">
                            <subfield code="a">(OCoLC)311684437</subfield>
                            <subfield code="z">(OCoLC)261176486</subfield>
                            <subfield code="z">(OCoLC)330361568</subfield>
                            <subfield code="z">(OCoLC)377707240</subfield>
                            <subfield code="z">(OCoLC)426228842</subfield>
                            <subfield code="z">(OCoLC)701739996</subfield>
                            <subfield code="z">(OCoLC)716923895</subfield>
                            <subfield code="z">(OCoLC)731216527</subfield>
                            <subfield code="z">(OCoLC)887752101</subfield>
                            <subfield code="z">(OCoLC)945738851</subfield>
                            <subfield code="z">(OCoLC)1045429884</subfield>
                        </datafield>
                        <datafield tag="037" ind1=" " ind2=" ">
                            <subfield code="b">Chronicle Books Llc, C/O Hachette Book Group USA 3 Center Plaza, Boston, MA, USA, 02108</subfield>
                            <subfield code="n">SAN 200-2205</subfield>
                        </datafield>
                        <datafield tag="043" ind1=" " ind2=" ">
                            <subfield code="a">e-uk-en</subfield>
                        </datafield>
                        <datafield tag="050" ind1="0" ind2="0">
                            <subfield code="a">PS3607.R348</subfield>
                            <subfield code="b">P75 2009</subfield>
                        </datafield>
                        <datafield tag="082" ind1="0" ind2="0">
                            <subfield code="a">813/.6</subfield>
                            <subfield code="2">22</subfield>
                        </datafield>
                        <datafield tag="049" ind1=" " ind2=" ">
                            <subfield code="a">MAIN</subfield>
                        </datafield>
                        <datafield tag="100" ind1="1" ind2=" ">
                            <subfield code="a">Grahame-Smith, Seth,</subfield>
                            <subfield code="e">author.</subfield>
                        </datafield>
                        <datafield tag="245" ind1="1" ind2="0">
                            <subfield code="a">Pride and prejudice and zombies :</subfield>
                            <subfield code="b">the classic regency romance--now with ultraviolent zombie mayhem /</subfield>
                            <subfield code="c">by Jane Austen and Seth Grahame-Smith.</subfield>
                        </datafield>
                        <datafield tag="260" ind1=" " ind2=" ">
                            <subfield code="a">Philadelphia :</subfield>
                            <subfield code="b">Quirk Books ;</subfield>
                            <subfield code="a">San Francisco :</subfield>
                            <subfield code="b">Distributed in North America by Chronicle Books,</subfield>
                            <subfield code="c">©2009.</subfield>
                        </datafield>
                        <datafield tag="300" ind1=" " ind2=" ">
                            <subfield code="a">335 pages :</subfield>
                            <subfield code="b">illustrations ;</subfield>
                            <subfield code="c">21 cm.</subfield>
                        </datafield>
                        <datafield tag="336" ind1=" " ind2=" ">
                            <subfield code="a">text</subfield>
                            <subfield code="b">txt</subfield>
                            <subfield code="2">rdacontent</subfield>
                        </datafield>
                        <datafield tag="337" ind1=" " ind2=" ">
                            <subfield code="a">unmediated</subfield>
                            <subfield code="b">n</subfield>
                            <subfield code="2">rdamedia</subfield>
                        </datafield>
                        <datafield tag="338" ind1=" " ind2=" ">
                            <subfield code="a">volume</subfield>
                            <subfield code="b">nc</subfield>
                            <subfield code="2">rdacarrier</subfield>
                        </datafield>
                        <datafield tag="490" ind1="1" ind2=" ">
                            <subfield code="a">Quirk classics</subfield>
                        </datafield>
                        <datafield tag="520" ind1=" " ind2=" ">
                            <subfield code="a">As a mysterious plague falls upon the village of Meryton and zombies start rising from the dead, Elizabeth Bennet is determined to destroy the evil menace, but becomes distracted by the arrival of the dashing and arrogant Mr. Darcy.</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="0">
                            <subfield code="a">Austen, Jane,</subfield>
                            <subfield code="d">1775-1817</subfield>
                            <subfield code="v">Parodies, imitations, etc.</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="0">
                            <subfield code="a">Bennet, Elizabeth</subfield>
                            <subfield code="c">(Fictitious character)</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="0">
                            <subfield code="a">Darcy, Fitzwilliam</subfield>
                            <subfield code="c">(Fictitious character)</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="0">
                            <subfield code="a">Zombies</subfield>
                            <subfield code="z">England</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="0">
                            <subfield code="a">Young women</subfield>
                            <subfield code="z">England</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="0">
                            <subfield code="a">Social classes</subfield>
                            <subfield code="z">England</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="0">
                            <subfield code="a">Sisters</subfield>
                            <subfield code="z">England</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="651" ind1=" " ind2="0">
                            <subfield code="a">England</subfield>
                            <subfield code="v">Fiction.</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="7">
                            <subfield code="a">Austen, Jane,</subfield>
                            <subfield code="d">1775-1817.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst00032929</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="7">
                            <subfield code="a">Bennet, Elizabeth</subfield>
                            <subfield code="c">(Fictitious character)</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst00830497</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="7">
                            <subfield code="a">Darcy, Fitzwilliam</subfield>
                            <subfield code="c">(Fictitious character)</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst00887810</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Sisters.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01119758</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Social classes.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01122346</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Young women.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01183301</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Zombies.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01184595</subfield>
                        </datafield>
                        <datafield tag="651" ind1=" " ind2="7">
                            <subfield code="a">England.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01219920</subfield>
                        </datafield>
                        <datafield tag="600" ind1="1" ind2="7">
                            <subfield code="a">Austen, Jane,</subfield>
                            <subfield code="d">1775-1817</subfield>
                            <subfield code="v">Parodies, imitations, etc.</subfield>
                            <subfield code="2">sears</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Darcy, Fitzwilliam (Fictional character)</subfield>
                            <subfield code="v">Fiction.</subfield>
                            <subfield code="2">sears</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Bennet, Elizabeth (Fictional character)</subfield>
                            <subfield code="v">Fiction.</subfield>
                            <subfield code="2">sears</subfield>
                        </datafield>
                        <datafield tag="650" ind1=" " ind2="7">
                            <subfield code="a">Zombies</subfield>
                            <subfield code="v">Fiction.</subfield>
                            <subfield code="2">sears</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="0">
                            <subfield code="a">Horror tales.</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Parodies, imitations, etc.</subfield>
                            <subfield code="2">fast</subfield>
                            <subfield code="0">(OCoLC)fst01423840</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Regency fiction.</subfield>
                            <subfield code="2">gsafd</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Novels.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Zombie fiction.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Horror fiction.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Romance fiction.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Humorous fiction.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Historical fiction.</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Parodies (Literature)</subfield>
                            <subfield code="2">lcgft</subfield>
                        </datafield>
                        <datafield tag="655" ind1=" " ind2="7">
                            <subfield code="a">Regency novels.</subfield>
                            <subfield code="2">sears</subfield>
                        </datafield>
                        <datafield tag="700" ind1="1" ind2=" ">
                            <subfield code="i">Parody of (work):</subfield>
                            <subfield code="a">Austen, Jane,</subfield>
                            <subfield code="d">1775-1817.</subfield>
                            <subfield code="4">http://rdaregistry.info/Elements/w/P10197</subfield>
                            <subfield code="t">Pride and prejudice.</subfield>
                        </datafield>
                        <datafield tag="830" ind1=" " ind2="0">
                            <subfield code="a">Quirk classics.</subfield>
                        </datafield>
                        <datafield tag="938" ind1=" " ind2=" ">
                            <subfield code="a">Brodart</subfield>
                            <subfield code="b">BROD</subfield>
                            <subfield code="n">12691976</subfield>
                            <subfield code="c">$24.45</subfield>
                        </datafield>
                        <datafield tag="938" ind1=" " ind2=" ">
                            <subfield code="a">Baker and Taylor</subfield>
                            <subfield code="b">BTCP</subfield>
                            <subfield code="n">BK0008400789</subfield>
                        </datafield>
                        <datafield tag="938" ind1=" " ind2=" ">
                            <subfield code="a">YBP Library Services</subfield>
                            <subfield code="b">YANK</subfield>
                            <subfield code="n">3333668</subfield>
                        </datafield>
                        <datafield tag="938" ind1=" " ind2=" ">
                            <subfield code="a">YBP Library Services</subfield>
                            <subfield code="b">YANK</subfield>
                            <subfield code="n">2950898</subfield>
                        </datafield>
                        <datafield tag="938" ind1=" " ind2=" ">
                            <subfield code="a">YBP Library Services</subfield>
                            <subfield code="b">YANK</subfield>
                            <subfield code="n">8524157</subfield>
                        </datafield>
                    </record>
                </response>
            </content>
            <id>http://worldcat.org/oclc/311684437</id>
            <link href="http://worldcat.org/oclc/311684437"></link>
        </entry>      
    update_bib:
      summary: Update a bibliographic record
      value: >
        <?xml version="1.0" encoding="UTF-8"?>
        <record xmlns="http://www.loc.gov/MARC21/slim">
            <leader>00000nam a2200000 a 4500</leader>
            <controlfield tag="001">99999999999999999999999</controlfield>
            <controlfield tag="008">120827s2012    nyua          000 0 eng d</controlfield>
            <datafield tag="010" ind1=" " ind2=" ">
                <subfield code="a">   63011276 </subfield>
            </datafield>
            <datafield tag="040" ind1=" " ind2=" ">
                <subfield code="a">OCWMS</subfield>
                <subfield code="c">OCWMS</subfield>
            </datafield>
            <datafield tag="100" ind1=" " ind2="0">
                <subfield code="a">OCLC Developer Network</subfield>
            </datafield>
            <datafield tag="245" ind1="4" ind2="0">
                <subfield code="a">Test Record</subfield>
            </datafield>
            <datafield tag="500" ind1=" " ind2=" ">
                <subfield code="a">FOR OCLC DEVELOPER NETWORK DOCUMENTATION</subfield>
            </datafield>
        </record>      
    read_holdinglibrarycodes:
      summary: Read a library holding codes
      value: >
        {
            "entry": [
                {
                    "name": "MAIN",
                    "holdingCode": "MAIN",
                    "id": ""
                },
                {
                    "name": "North Branch",
                    "holdingCode": "NORT",
                    "id": ""
                },
                {
                    "name": "South Branch",
                    "holdingCode": "SOUT",
                    "id": ""
                },
                {
                    "name": "West Branch",
                    "holdingCode": "WEST",
                    "id": ""
                },
                {
                    "name": "East Branch",
                    "holdingCode": "EAST",
                    "id": ""
                },
                {
                    "name": "WS ILL",
                    "holdingCode": "WSIL",
                    "id": ""
                }
            ],
            "startIndex": 1,
            "totalResults": 6,
            "itemsPerPage": 6
        }     
    getCurrentOCLCNumber:
      summary: Get the current OCLC Number(s)
      value: >
        {
            "entry": [
                {
                    "requestedOclcNumber": "261176486",
                    "currentOclcNumber": "311684437",
                    "httpStatusCode": "HTTP 200 OK",
                    "errorDetail": null,
                    "id": "http://worldcat.org/oclc/311684437",
                    "institution": "OCPSB"
                }
            ],
            "startIndex": 1,
            "totalResults": 1,
            "itemsPerPage": 1
        }        
    validateAdd:
      summary: Validate Add record response
      value: >
        <?xml version="1.0" encoding="UTF-8"?>
        <entry xmlns="http://www.w3.org/2005/Atom">
            <content type="application/xml">
                <response xmlns="http://worldcat.org/rb" mimeType="application/vnd.oclc.marc21+xml">
                    <record xmlns="http://www.loc.gov/MARC21/slim">
                        <leader>00000nam a2200000 a 4500</leader>
                        <controlfield tag="008">120827s2012    nyua          000 0 eng d</controlfield>
                        <datafield tag="010" ind1=" " ind2=" ">
                            <subfield code="a">   63011276 </subfield>
                        </datafield>
                        <datafield tag="040" ind1=" " ind2=" ">
                            <subfield code="a">OCWMS</subfield>
                            <subfield code="b">eng</subfield>
                            <subfield code="c">OCPSB</subfield>
                        </datafield>
                        <datafield tag="049" ind1=" " ind2=" ">
                            <subfield code="a">MAIN</subfield>
                        </datafield>
                        <datafield tag="100" ind1="0" ind2=" ">
                            <subfield code="a">OCLC Developer Network</subfield>
                        </datafield>
                        <datafield tag="245" ind1="1" ind2="0">
                            <subfield code="a">Test Record RecordBuilder Add Original Test: 2020-05-12 15:17:53.179</subfield>
                        </datafield>
                        <datafield tag="500" ind1=" " ind2=" ">
                            <subfield code="a">FOR OCLC DEVELOPER NETWORK DOCUMENTATION</subfield>
                        </datafield>
                    </record>
                </response>
            </content>
            <id>http://worldcat.org/oclc/</id>
            <link href="http://worldcat.org/oclc/"></link>
        </entry>      
    validateAdd-error:
      summary: Validate Add record response - Validation error
      value: >
        <?xml version="1.0" encoding="UTF-8"?>
        <entry xmlns="http://www.w3.org/2005/Atom" xmlns:oclc="http://worldcat.org/xmlschemas/response">
            <content type="application/xml">
                <response xmlns="http://worldcat.org/rb" mimeType="application/vnd.oclc.marc21+xml">
                    <record xmlns="http://www.loc.gov/MARC21/slim">
                        <leader>00000nam a2200000 a 4500</leader>
                        <controlfield tag="008">120827s2012    nyua          000 0 eng d</controlfield>
                        <datafield tag="010" ind1=" " ind2=" ">
                            <subfield code="a">   63011276 </subfield>
                        </datafield>
                        <datafield tag="040" ind1=" " ind2=" ">
                            <subfield code="a">OCWMS</subfield>
                            <subfield code="c">OCWMS</subfield>
[...]
